
.container_item:hover {
    border: 5px solid #94D91C;
    transition: 0.2s !important;
    cursor: pointer;
}

.container_item {
    position: relative;
    min-height: 470px;
}
.category_chip{
    position: absolute;
    top: 5px;
    left: 5px;
}

.footer_card_down {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    height: 50px;
}

.footer_card_up {
    position: absolute;
    bottom: 75px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    height: 50px;
}


.footer_left{
    display: flex;
    flex-direction: row;
}
.footer_left p{
    margin:0 0 0 5px;
    font-weight: bold;
}

.footer_right p{
    font-weight: bold;
    margin:0 0 0 5px;
}

.error_box{
    text-align: center;
    border: red 1px solid;
    width: 80%;
    height: 30px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px!important;
}